@import './scss/variables.scss';
@import './scss/font.scss';

@import 'milligram/src/milligram.sass';


:root {
	--primary-color: #274472;
	--font-color: #000000;
}

html {
	box-sizing: border-box;

	color: var(--font-color);
}

*, *:before, *:after {
	box-sizing: inherit;
}

.app-name {
	text-transform: uppercase;
	font-weight: 200;
	color: #000000;
}

.container {
	max-width: 80rem;
}

.wrapper > .container {
	padding-bottom: 4.5rem;
	padding-top: 4.5rem;
}

img {
	max-width: 100%;
	height: auto;
}

