@import './scss/variables.scss';
@import './scss/font.scss';
@import './scss/print.scss';

@import 'milligram/src/milligram.sass';

:root {
	--primary-color: #274472;
	--font-color: #000000;
}

html {
	box-sizing: border-box;

	color: var(--font-color);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.app-name {
	text-transform: uppercase;
	font-weight: 200;
	color: #000000;
}

.container {
	max-width: 80rem;
}

.wrapper > .container {
	padding-bottom: 4.5rem;
	padding-top: 4.5rem;
}

img {
	max-width: 100%;
	height: auto;
}

@media print {
	.hide-on-print {
		display: none !important;
	}

	.dont-interfere-on-print {
		width: unset !important;
		height: unset !important;

		margin: unset !important;
		padding: unset !important;

		transform: unset !important;
	}
}
