@media print {
	.hide-on-print {
		display: none !important;
	}

	html,
	body,
	.dont-interfere-on-print {
		position: unset !important;
		top: unset !important;
		right: unset !important;
		bottom: unset !important;
		left: unset !important;

		width: unset !important;
		height: unset !important;

		margin: unset !important;
		padding: unset !important;

		transform: unset !important;

		box-shadow: unset !important;
	}
}
